@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You can register for vaccination NOW</p>
    <a class="btn btn-primary">Register</a>
</div>
